{% extends 'projects/overview.html' %}

{% block navbar %}
  {{ super() }}
  {% include 'audio-player.html' %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('audio.list_files', 'Listen', project_id=project.id) }}
{% endblock %}

{% block app_content %}
    <div class="row h-100">
        <div class="col-6 mh-100 bg-light ">
            <div>Current clip:</div>
            <div><span id="current-file"></span> <span id="current-offset"></span></div>
            <a id="replay-btn" class="btn btn-primary disabled" href="javascript:void(0)">Replay</a>
            <a id="label-btn" class="btn btn-primary disabled" href="javascript:void(0)">Label</a>
            <div><img id="spec-img" class="img-fluid d-none"></div>
        </div>

        <div class="col-6 mh-100 overflow-auto">
            {{ render_form(filter_form, method='get', form_type='horizontal') }}

            {% for file in files.items %}
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <p class="card-text">Start time: {{ file.timestamp }}</p>
                        <p class="card-text">Monitoring Station: {{ file.monitoring_station.name }}</p>
                        <p class="card-text">Recording device: {{ file.sn }}</p>
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="playStream('{{file.name}}')" >Play file</a>
                    </div>
                </div>
            {% endfor %}

            {{ render_pagination(files) }}
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">
        // Global variables
        var current_offset = 0.0;
        var dropdown = {
            station: $("#select_station"),
        };
        var datepicker = {
            after: $("#after"),
            before: $("#before"),
        };


        function playStream(wav_file) {
            var audio = $('audio').get(0);
            $(audio).attr('src', '/stream_file/'+wav_file+'.mp3');
            $('#current-file').text(wav_file);
            $('#replay-btn').removeClass('disabled');
            $('#label-btn').removeClass('disabled').attr('href', '/labels/clip/'+wav_file+'/0.0');
            $('#spec-img').removeClass('d-none').attr('src', '/spectrogram/'+wav_file+'-0.0.png');
            audio.load();
            audio.play();
            $(audio).off('timeupdate.full');
            $(audio).on('timeupdate.full', function() {
                var new_offset = Math.floor(audio.currentTime / {{ config.CLIP_SECS }}) * {{ config.CLIP_SECS }};
                if (new_offset != current_offset) {
                    current_offset = new_offset;
                    offset_string = (current_offset % 1 == 0) ? current_offset + ".0" : current_offset.toString();
                    $('#current-offset').text('+'+offset_string+' sec');
                    $('#replay-btn').click(function() {
                        playSelection(current_offset, 5);
                    });
                    $('#label-btn').attr('href', '/labels/clip/'+wav_file+'/'+offset_string);
                    $('#spec-img').attr('src', '/spectrogram/'+wav_file+'-'+offset_string+'.png');
                }
            });
        }


        function updateAllowedDates() {
            var send = {
                station: dropdown.station.val()
            };
            $.getJSON("{{ url_for('audio._get_date_range', project_id=project.id) }}", send, function(data) {
                datepicker.after.attr('min', data.first);
                datepicker.after.attr('max', data.last);
                datepicker.after.val(data.first);
                datepicker.before.attr('min', data.first);
                datepicker.before.attr('max', data.last);
                datepicker.before.val(data.last);
            });
        }


        dropdown.station.on('change', function() {
            updateAllowedDates();
        });

        $( document ).ready(function() {
            if (datepicker.after.val() == "" && datepicker.before.val() == "") {
                updateAllowedDates();
            }
        });
    </script>
{% endblock %}

