adal==1.2.2
alembic==1.4.1
audioread==2.1.8
azure-datalake-store==0.0.48
blinker==1.4
Bootstrap-Flask==2.0.2
Brotli==1.0.7
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.10
Click==7.0
cryptography==3.3.2
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.6.0
dash-table==5.0.0
decorator==4.4.2
dominate==2.4.0
Flask==1.1.1
Flask-Admin==1.5.5
Flask-Compress==1.5.0
Flask-Dance==3.0.0
Flask-Excel==0.0.7
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-Migrate==2.5.2
Flask-Principal==0.4.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.2.0
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.31.0
lml==0.0.9
lxml==4.6.5
Mako==1.1.2
MarkupSafe==1.1.1
marshmallow==3.9.1
marshmallow-sqlalchemy==0.24.1
matplotlib==3.0.3
numba==0.47.0
numpy==1.21.0
oauthlib==3.1.0
pandas==1.3.5
patsy==0.5.1
plotly==5.5.0
plotly-express==0.4.1
psycopg2-binary==2.8.6
pycparser==2.19
pydub==0.23.1
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
PyJWT==1.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-dotenv==0.12.0
python-editor==1.0.4
pytz==2019.3
redis==3.4.1
requests==2.27.1
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.3
statsmodels==0.11.1
tenacity==8.0.1
texttable==1.6.2
urllib3==1.26.5
URLObject==2.4.3
visitor==0.1.3
Werkzeug==1.0.0
WTForms==2.2.1
