{% extends 'audio-player.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('projects.overview', project_id=group.project.id) }}">{{ group.project.name }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('clusters.cluster_groups', project_id=group.project.id) }}">Cluster Groups</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('clusters.list_clusters', group_id=group.id) }}">{{ group.name }}</a></li>
      <li class="breadcrumb-item active">{{ cluster_name }}</li>
    </ol>
  </nav>

  {{ render_form(filter_form, method='get', form_type='horizontal') }}

  <div id="clips-list"></div>

  {{ render_pagination(clips) }}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    const list_props = {
      project_id: {{ group.project.id }},
      duration: {{ config['CLIP_SECS'] }},
      clips: JSON.parse('{{ clips_json|safe }}')
    };
    ReactDOM.render(
      React.createElement(EarthHz.ClusteredClips, list_props, null),
      document.getElementById('clips-list')
    );
  </script>
{% endblock %}
