{% extends 'clusters/cluster_list.html' %}

{% block navbar %}
  {{ super() }}
  {% include 'audio-player.html' %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('clusters.view_cluster', cluster_name, cluster_name=cluster_name) }}
{% endblock %}

{% block app_content %}
  {{ render_form(filter_form, method='get', form_type='inline') }}

  <div id="clips-list"></div>

  {{ render_pagination(clips) }}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    const list_props = {
      project_id: {{ group.project.id }},
      duration: {{ config['CLIP_SECS'] }},
      clips: JSON.parse('{{ clips_json|safe }}')
    };
    ReactDOM.render(
      React.createElement(EarthHz.ClusteredClips, list_props, null),
      document.getElementById('clips-list')
    );
  </script>
{% endblock %}
