{% extends "projects/overview.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('clusters.cluster_groups', 'Cluster Groups', project_id=project.id) }}
{% endblock %}

{% block app_content %}
    <a href="{{ url_for('clusters.upload', project_id=project.id) }}" class="btn btn-primary">Upload new clusters</a>

    {% for group in groups.items %}
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <a class="btn btn-primary" href="{{ url_for('clusters.list_clusters', group_id=group.id) }}">Browse clusters</a>
                 {% if group.user == current_user %}
                    <div class="float-right">
                        {{ render_form(delete_form, action=url_for('clusters.delete_clusters', group_id=group.id), button_map={'delete_button': 'danger'}) }}
                    </div>
                {% endif %}

            </div>
        </div>
    {% endfor %}

    {{ render_pagination(groups, args={}) }}
{% endblock %}

