{% extends 'audio-player.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('ml.static', filename='dist/filter-form.css') }}">
{% endblock %}

{% block app_content %}
    <div id="filter-form"></div>

    {% for prediction in predictions.items %}
        <div class="card mt-3 mb-3">
            <div class="card-body row">
                <div class="col-md-6">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="playClip('{{ prediction.file.name }}', '{{ prediction.offset }}')">Play clip</a>
                    <p class="card-text">Time: {{ prediction.start_time() }}</p>
                    <p class="card-text">Recording device: {{ prediction.file.sn }}</p>
                    <p class="card-text">Predicted label: {{ prediction.label }}</p>
                    <p class="card-text">Probability: {{ prediction.probability }}</p>
                    <div id="label-block-{{ loop.index }}" data-filename="{{ prediction.file_name }}" data-offset="{{ prediction.offset }}" data-duration="{{ prediction.duration }}"></div>
                    <a href="{{ url_for('labels.view_clip', file_name=prediction.file_name, offset=prediction.offset) }}">View/Edit Clip Labels</a>
                </div>
                <div class="col-md-6">
                    <img class="card-img-top" src="{{ url_for('audio.spectro', file_name=prediction.file_name, offset=prediction.offset) }}">
                </div>
            </div>
        </div>
    {% endfor %}

    {{ render_pagination(predictions) }}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% if config.DEBUG %}
        <script src="https://unpkg.com/react/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.js" crossorigin></script>
    {% else %}
        <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    {% endif %}
    <script src="{{ url_for('ml.static', filename='dist/filter-form.js') }}"></script>
    <script src="{{ url_for('labels.static', filename='dist/labels.js') }}"></script>
    <script>
      ReactDOM.render(
        React.createElement(ml.FilterForm, {project_id: {{ project_id }}}, null),
        document.getElementById('filter-form')
      );
      for (i = 1; i <= {{ predictions.items | length }}; i++) {
        const block = document.getElementById('label-block-' + i);
        const props = {
          project_id: {{ project_id }},
          file_name: block.getAttribute('data-filename'),
          offset: block.getAttribute('data-offset'),
          duration: block.getAttribute('data-duration')
        };
        ReactDOM.render(
          React.createElement(labels.LabelContainer, props, null),
          block
        );
      }
    </script>
{% endblock %}

