{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
    {{ render_form(filter_form, form_type='horizontal') }}

    {% for cluster in clusters.items %}
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ cluster.cluster_name }}</h5>
                <p class="card-text">{{ cluster.name_count() }} clips</p>
                <a class="btn btn-primary" href="{{ url_for('clusters.view_cluster', group_id=cluster.cg_id, cluster_name=cluster.cluster_name) }}">Browse clips</a>
            </div>
        </div>
    {% endfor %}

    {{ render_pagination(clusters, args=filters) }}
{% endblock %}

