{% extends 'ml/iteration_list.html' %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.view_iteration', iteration.updated, iteration_id=iteration.id) }}
{% endblock %}

{% block app_content %}
  <h2>Model Iteration {{ iteration.updated }}</h2>
  <div class="row">
    <div class="col">
      <p>{{ iteration.description }}</p>
    </div>
    <div class="col-md-4">
      <nav class="nav flex-column">
        <a class="nav-link" href="{{ url_for('ml.edit_iteration', iteration_id=iteration.id) }}">Edit notes</a>
        <a class="nav-link" href="{{ url_for('ml.copy_iteration', iteration_id=iteration.id) }}">New iteration based on this one</a>
        {% if finished %}
          <a class="nav-link" href="{{ url_for('ml.list_outputs', project_id=iteration.model.project_id, model=iteration.model.id, iteration=iteration.id) }}">Verify predictions</a>
        {% endif %}
      </nav>
    </div>
  </div>
  <h3>Current Status: {{ iteration.status }}</h3>
  {% if iteration.accuracy %}
    <h4>Accuracy: {{ iteration.accuracy }}%</h4>
  {% endif %}
  {% if previous_form %}
    {{ render_form(previous_form, action = url_for('ml.previous_status', iteration_id=iteration.id), extra_classes='d-inline-block') }}
  {% endif %}
  {% if next_form %}
    {{ render_form(next_form, action = url_for('ml.next_status', iteration_id=iteration.id), extra_classes='d-inline-block', button_map={'next_button': 'success'}) }}
  {% endif %}
  <h3>Labels for training</h3>
  {% if iteration.status.name == 'labeling' %}
    <a class="btn btn-primary" href="{{ url_for('ml.add_label', iteration_id=iteration.id) }}">Add label</a>
  {% endif %}
  <table class="table">
    <th>Label</th>
    <th>Labeled clips</th>
    <th>Used for training</th>
    <th>Common names</th>
    <th>Combine with</th>
    <th>Training errors</th>
    <th>Actions</th>
    {% for label in labels.items %}
      <tr>
        <td><a href="{{ url_for('ml.iteration_clips', iteration_id=iteration.id, select_label=label.label.id) }}">{{ label.label.name }}</a></td>
        <td>{{ label.project_label.clip_count }}</td>
        <td>{{ label.training_clips.count() }}</td>
        <td>
          <ul>
            {% for common_name in label.label.common_names %}
              <li>{{ common_name.name }} ({{ common_name.language.name }})</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ label.combine_with }} 
          {% if iteration.status.name == 'labeling' %}
            <a href="{{ url_for('ml.edit_label', iteration_id=iteration.id, label_id=label.label.id) }}">edit</a>
          {% endif %}
        </td>
	<td><a href="{{ url_for('ml.view_errors', model_label_id=label.id) }}">{{ label.training_errors.count() }}</a></td>
        <td>
          {% if iteration.status.name == 'labeling' %}
            {{ render_form(delete_form, action=url_for('ml.delete_label', iteration_id=iteration.id, label_id=label.label.id), button_map={'delete_button': 'danger'}) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {{ render_pagination(labels) }}
{% endblock %}
