{% extends 'ml/model_list.html' %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.list_iterations', model.name, model_id=model.id) }}
{% endblock %}

{% block app_content %}
  <h3>Model Iterations</h3>
  <a class="btn btn-primary" href="{{ url_for('ml.new_iteration', model_id=model.id) }}">New iteration</a>
  <table class="table">
    <th>Last updated</th>
    <th>Status</th>
    <th>Notes</th>
    {% for iteration in iterations.items %}
      <tr>
        <td><a href="{{ url_for('ml.view_iteration', iteration_id=iteration.id)  }}">{{ iteration.updated }}</a></td>
        <td>{{ iteration.status }}</td>
        <td>{{ iteration.description }}</td>
      </tr>
    {% endfor  %}
  </table>
  {{ render_pagination(iterations) }}
{% endblock %}
