{% extends 'ml/iteration_view.html' %}

{% block navbar %}
  {{ super() }}
  {% include 'audio-player.html' %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.iteration_clips', 'Labeled clips', iteration_id=iteration.id) }}
{% endblock %}

{% block app_content %}
  {{ render_form(filter_form, method='get', form_type='inline') }}
  {% if labeling %}
    <div>
      {{ render_form(use_form, method='post', form_type='inline', extra_classes='d-inline-block', button_map={'use': 'success', 'do_not_use': 'danger'}) }} <span class="ps-2">these {{ clips_count }} clips for training</span>
    </div>
  {% endif %}
  {% for clip in clips.items %}
    <div class="card mt-3 mb-3">
      <div class="card-body row">
        <div class="col-md-6">
          <a class="btn btn-primary" href="javascript:void(0)" onclick="playClip('{{ clip.file.name }}', '{{ clip.offset }}')">Play clip</a>
          <h5 class="card-title">{{ clip.label.name }}{% if not clip.certain %} (maybe){% endif %}</h5>
          <p class="card-text">Start time: {{ clip.start_time() }}</p>
          <p class="card-text">Monitoring Station: {{ clip.file.monitoring_station.name }}</p>
          <p class="card-text">Recording device: {{ clip.file.sn }}</p>
          <p class="card-text">submitted by {{ clip.user }} on {{ clip.modified }}</p>
          <p><a class="btn btn-primary" href="{{ url_for('labels.view_clip', file_name=clip.file.name, offset=clip.offset) }}">Edit Labels</a></p>
          <div id="use-block-{{ loop.index }}" data-clip-id="{{ clip.id }}"></div>
        </div>
        <div class="col-md-6">
          <img class="card-img-top" src="{{ url_for('audio.spectro', file_name=clip.file_name, offset=clip.offset) }}">
        </div>
      </div>
    </div>
  {% endfor %}
  {{ render_pagination(clips) }}
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
      for (i = 1; i <= {{ clips.items | length }}; i++) {
        const block = document.getElementById('use-block-' + i);
        const props = {
          iteration_id: {{ iteration.id }},
          clip_id: block.getAttribute('data-clip-id'),
          disabled: {{ (not labeling) | tojson }},
        };
        ReactDOM.render(
          React.createElement(EarthHz.UseClip, props, null),
          block
        );
      }
    </script>
{% endblock %}
