{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('projects.overview', project_id=project.id) }}">{{ project.name }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('ml.list_models', project_id=project.id) }}">Machine Learning Models</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('ml.list_iterations', model_id=model.id) }}">{{ model.name }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('ml.view_iteration', iteration_id=iteration.id) }}">{{ iteration.updated }}</a></li>
      <li class="breadcrumb-item active">Add/Edit Label</a>
    </ol>
  </nav>
  <h3>{{ label.name }}</h3>
  {{ render_form(form) }}
{% endblock %}
