{% extends 'projects/overview.html' %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.list_models', 'Machine Learning Models', project_id=project.id) }}
{% endblock %}

{% block app_content %}
  <h3>Models</h3>
  <a class= "btn btn-primary" href="{{ url_for('ml.new_model', project_id=project.id) }}">New model</a>
  <table class="table">
    <th>Name</th>
    <th>Description</th>
    {% for model in models.items %}
      <tr>
        <td><a href="{{ url_for('ml.list_iterations', model_id=model.id) }}">{{ model.name }}</a></td>
        <td>{{ model.description }} <a href="{{ url_for('ml.edit_model', model_id=model.id) }}">Edit</a></td>
      </tr>
    {% endfor  %}
  </table>
  {{ render_pagination(models) }}
{% endblock %}
