{% extends 'projects/overview.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('ml.static', filename='dist/filter-form.css') }}">
{% endblock %}

{% block navbar %}
  {{ super() }}
  {% include 'audio-player.html' %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.list_outputs', 'Machine Learning Output', project_id=project.id) }}
{% endblock %}

{% block app_content %}
  <div id="filter-form"></div>

  <div id="clips-list"></div>

  {{ render_pagination(predictions) }}
  <h4>Export data:</h4>
  <p><a class="btn btn-primary" href="{{ url_for('ml.list_outputs', project_id=project.id) }}?{{ request.query_string.decode('UTF-8') }}&csv=1">Download as CSV</a></p>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    const list_props = {
      project_id: {{ project.id }},
      duration: {{ config['CLIP_SECS'] }},
      clips: {{ clips_json | safe }}
    };
    ReactDOM.render(
      React.createElement(EarthHz.FilterForm, {project_id: {{ project.id }}}, null),
      document.getElementById('filter-form')
    );
    ReactDOM.render(
      React.createElement(EarthHz.ResultsClips, list_props, null),
      document.getElementById('clips-list')
    );
  </script>
{% endblock %}

