{% extends 'ml/iteration_view.html' %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('ml.add_label', 'Add Label') }}
{% endblock %}

{% block app_content %}
  <h3>Unused labels</h3>
  <table class="table">
    <th>Label</th>
    <th>Clips</th>
    <th>Common names</th>
    <th>Actions</th>
    {% for label in labels.items %}
      <tr>
        <td><a href="{{ url_for('labels.list_labels', project_id=project.id, select_label=label.label.id) }}">{{ label.label.name }}</a></td>
        <td>{{ label.clip_count }}</td>
        <td>
          <ul>
            {% for common_name in label.label.common_names %}
              <li>{{ common_name.name }} ({{ common_name.language.name }})</li>
            {% endfor %}
          </ul>
        </td>
        <td><a class="btn btn-primary" href="{{ url_for('ml.edit_label', iteration_id=iteration.id, label_id=label.label.id) }}">Add to model</a></td>
      </tr>
    {% endfor %}
  </table>
  {{ render_pagination(labels) }}
{% endblock %}
