{% extends 'audio-player.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col-md-7">
            <a id="play" class="btn btn-primary" href="javascript:void(0)" onclick="playClip('{{ wav_file.name }}', '{{ offset }}')">Play clip &#9658;</a>
            <img class="img-fluid" src="{{ url_for('audio.spectro', file_name=wav_file.name, offset=offset) }}">
        </div>
        <div class="col-md-5">
            <p>Date: {{ wav_file.timestamp.strftime('%Y-%m-%d') }}</p>
            <p>Time: {{ wav_file.timestamp.strftime('%H:%M:%S') }}</p>
            <p>Offset: +{{ offset }} sec</p>
            <p>Monitoring station: {{ station.name }}</p>
            <p><a id="load" class="btn btn-secondary" href="javascript:void(0)" onclick="loadFullAudio('{{ wav_file.name }}', '{{ offset }}', '{{ config.CLIP_SECS }}')">Load full recording</a></p>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('labels.view_clip', file_name=wav_file.name, offset=offset-config.CLIP_SECS) }}">&laquo; Prev {{ config.CLIP_SECS }} sec</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('labels.view_clip', file_name=wav_file.name, offset=offset+config.CLIP_SECS) }}">Next {{ config.CLIP_SECS }} sec &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mt-3 mb-3">
         <div class="card-body">
             <h3 class="card-title">Add Label</h3>
             {{ render_form(form, form_type='horizontal') }}
         </div>
    </div>

    <h3>Current Labels</h3>
    {% for label in labels %}
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ label.label.name }}{% if not label.certain %} (maybe){% endif %}</h5>
                {% if label.sub_label %} <h6 class="card-title">{{ label.sub_label.type.name }}: {{ label.sub_label.name }}</h5> {% endif %}
                <p class="card-text">submitted by {{ label.user }} on {{ label.modified }}</p>
                {% if label.notes %} <p class="card-text">Notes: {{ label.notes }}</p> {% endif %}
                {% if label.user == current_user %}
                    <div class="float-right">
                        {{ render_form(delete_form, action=url_for('labels.delete_clip_label', file_name=wav_file.name, offset=offset, label_id=label.id), button_map={'delete_button': 'danger'}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function loadFullAudio(wav_file, offset, duration) {
            var audio = $("audio").get(0);
            $("audio").attr("src", "/stream_file/"+wav_file+".mp3");
            $("#load").addClass("disabled");
            $("#load").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
            audio.load();
            audio.addEventListener('canplay', function() {
                $("#load").html("Full recording loaded");
            }, false);
            $("#play").attr("onclick", "playSelection("+offset+", "+duration+")");
            playSelection(offset, duration);
        }

        var dropdown = {
            type: $("#select_type"),
            label: $("#select_label"),
            sub_label: $("#select_sub_label")
        };

        function updateLabels() {
            var send = {
                type: dropdown.type.val()
            };
            dropdown.label.attr('disabled', 'disabled');
            dropdown.label.empty();
            dropdown.sub_label.attr('disabled', 'disabled');
            dropdown.sub_label.empty();
            $.getJSON("{{ url_for('labels._get_labels', project_id=station.project_id) }}", send, function(data) {
                data.labels.forEach(function(item) {
                    dropdown.label.append(
                        $('<option>', {
                            value: item.id,
                            text: item.label
                        })
                    );
                });
                dropdown.label.removeAttr('disabled');
                if (data.sub.type) {
                    dropdown.sub_label.append(
                        $('<option>', {
                            value: '__None',
                            text: 'Select ' + data.sub.type
                        })
                    );
                    data.sub.labels.forEach(function(item) {
                        dropdown.sub_label.append(
                            $('<option>', {
                                value: item.id,
                                text: item.label
                            })
                        );
                    });
                    dropdown.sub_label.removeAttr('disabled');
                }
            });
        }

        dropdown.type.on('change', function() {
            updateLabels();
        });

        $( document ).ready(function() {
            updateLabels();
            playClip("{{ wav_file.name }}", "{{ offset }}");
        }); 
    </script>
{% endblock %}

