{% extends "base.html" %}

{% block breadcrumbs %}
  {{ render_breadcrumb_item('projects.overview', project.name, project_id=project.id) }}
{% endblock %}

{% block app_content %}
  <h2>{{ project.name }}</h2>
  <p>{{ project.description }}</p>
  <div class="row">
    <div class="col-md-2 col-sm-6 mb-3">
      <a class="btn btn-primary" href="{{ url_for('audio.list_files', project_id=project.id) }}">Listen to full recordings</a>
    </div>
    <div class="col-md-2 col-sm-6 mb-3">
      <a class="btn btn-primary" href="{{ url_for('clusters.cluster_groups', project_id=project.id) }}">Browse sound clusters</a>
    </div>
    <div class="col-md-2 col-sm-6 mb-3">
      <a class="btn btn-primary" href="{{ url_for('labels.list_labels', project_id=project.id) }}">View labels</a>
    </div>
    <div class="col-md-2 col-sm-6 mb-3">
      <a class="btn btn-primary" href="{{ url_for('ml.list_outputs', project_id=project.id) }}">Verify outputs</a>
    </div>
    <div class="col-md-2 col-sm-6 mb-3">
      <a class="btn btn-primary" href="{{ url_for('results_dash.dashboard', project_id=project.id) }}">Visualize results</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Top Labels</h3>
      <ul>
        {% for project_label in project_labels %}
          <li>
            <a href="{{ url_for('labels.list_labels', project_id=project.id, select_label=project_label.label.id) }}">{{ project_label.label.name }}</a>: {{ project_label.clip_count }} labeled clips
            <ul>
              {% for common_name in project_label.label.common_names %}
                <li>{{ common_name.name }} ({{ common_name.language.name }})</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('projects.list_labels', project_id=project.id) }}">All project labels</a>
    </div>
    <div class="col">
      <h3>Recent Model Iterations</h3>
      <ul>
        {% for iteration in iterations %}
          <li><a href="{{ url_for('ml.view_iteration', iteration_id=iteration.id) }}">{{ iteration.model.name }} {{ iteration.updated }}</a></li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('ml.list_models', project_id=project.id) }}">All project models</a>
    </div>
  </div>
{% endblock %}


