{% extends 'projects/label_list.html' %}

{% block breadcrumbs %}
  {{ super() }}
  {{ render_breadcrumb_item('projects.list_sublabels', 'Sublabels', project_id=project.id) }}
{% endblock %}

{% block app_content %}
  <div class="row">
    <div class="col">
      <h2>Project Sublabels</h2>
      <p>Users can assign these sublabels to clips of uploaded audio recordings for this project.</p>
      <p>Example: types of vocalizations</p>
    </div>
  </div>
  <div id="label-list"></div>
  {{ render_pagination(labels) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    const list_props = {
      project_id: {{ project.id }},
      labels: {{ labels_json | safe }},
      sub: 1
    };
    ReactDOM.render(
      React.createElement(EarthHz.ProjectLabels, list_props, null),
      document.getElementById('label-list')
    );
  </script>
{% endblock %}
