{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block navbar %}
    {{ super() }}
    <audio controls="controls" class="w-100">
        Please upgrade your browser.
    </audio>
{% endblock %}

{% block app_content %}
    <div class="row h-100">
        <div class="col-6 mh-100 bg-light ">
            <div>Current clip:</div>
            <div><span id="current-file"></span> <span id="current-offset"></span></div>
            <a id="replay-btn" class="btn btn-primary disabled" href="javascript:void(0)">Replay</a>
            <a id="label-btn" class="btn btn-primary disabled" href="javascript:void(0)">Label</a>
            <div><img id="spec-img" class="img-fluid d-none"></div>
        </div>

        <div class="col-6 mh-100 overflow-auto">
            {{ render_form(filter_form, method='get', form_type='horizontal') }}

            {% for file in files.items %}
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <p class="card-text">Start time: {{ file.timestamp }}</p>
                        <p class="card-text">Recording device: {{ file.sn }}</p>
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="playStream('{{file.name}}')" >Play file</a>
                    </div>
                </div>
            {% endfor %}

            {{ render_pagination(files) }}
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="/static/audio-functions.js"></script>
    <script type="text/javascript">
        var dropdown = {
            station: $("#select_station"),
        };
        var datepicker = {
            after: $("#after"),
            before: $("#before"),
        };

        function updateAllowedDates() {
            var send = {
                station: dropdown.station.val()
            };
            $.getJSON("{{ url_for('audio._get_date_range', project_id=project_id) }}", send, function(data) {
                datepicker.after.attr('min', data.first);
                datepicker.after.attr('max', data.last);
                datepicker.after.val(data.first);
                datepicker.before.attr('min', data.first);
                datepicker.before.attr('max', data.last);
                datepicker.before.val(data.last);
            });
        }

        dropdown.station.on('change', function() {
            updateAllowedDates();
        });

        $( document ).ready(function() {
            if (datepicker.after.val() == "" && datepicker.before.val() == "") {
                updateAllowedDates();
            }
        });
    </script>
{% endblock %}

