<audio controls="controls" class="w-100">
  Please upgrade your browser.
</audio>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin></script>
<script type="text/javascript">
  function playClip(wav_file, offset) {
    var audio = $('audio').get(0);
    if (audio.canPlayType('audio/ogg')) {
      $('audio').attr('src', '/stream_clip/'+wav_file+'-'+offset+'.ogg');
    } else {
      $('audio').attr('src', '/stream_clip/'+wav_file+'-'+offset+'.mp3');
    }
    audio.load();
    audio.play();
  }

  function playSelection(start, duration) {
    var audio = $('audio').get(0);
    var end_float = parseFloat(start) + parseFloat(duration);
    var end = end_float.toFixed(5);
    audio.pause();
    audio.currentTime = start;
    audio.play();
    $(audio).on('timeupdate.clip', function() {
      if (audio.currentTime >= end) {
        audio.pause();
        audio.currentTime = end - 0.01;
        $(audio).off('timeupdate.clip');
      }
    });
  }

  $('audio').get(0).addEventListener('error', (event) => {
    let error = event;
    // Chrome v60
    if (event.path && event.path[0]) {
      error = event.path[0].error;
    }
    // Firefox v55
    if (event.originalTarget) {
      error = error.originalTarget.error;
    }
    console.log(`Audio error: ${error.message}`);
    alert('Sorry, this audio is unavailable for listening.');
  }, true);
</script>
